<SomeComponent />
{{name}}



Some sentence with  {{dynamic}}  expressions.

sometimes{{nogaps}}areimportant<Hello></Hello>


{{name}}  is your name


{{#block}}
{{/block}}


{{#block}}
  some {{text}}
{{/block}}

{{#block}}

  some {{text}}
{{/block}}

<HelloWorld>
</HelloWorld>

<HelloWorld>
  some {{text}}
</HelloWorld>

<HelloWorld>

  some {{text}}
</HelloWorld>

<div class="a list of classes">
</div>

<div class="a list of classes">

</div>
