<p>Hi  {{firstName}}  {{lastName}}   , welcome!</p>
{{#component propA}}
    for {{propB}}  do {{propC}} f
{{/component}}
{{#component propA}}
    for {{propB}}  <span>name</span>do {{propC}} f
{{/component}}

  

hey
