<div>
  {{array.[true]}}
  {{array.2.[@#].[1]}}
  {{array.2.[a b]}}
  {{this.test}}
  {{#if @foo}}
  {{/if}}
  <!-- legacy path format, which glimmer does not parse - we don't want to wrap with brackets -->
  {{foo/bar/baz ab=cd}}
</div>
