<p>Hi  {{firstName}}  {{lastName}}   , welcome!</p>
{{#component propA}}
    for {{propB}}  do {{propC}} f
{{/component}}
{{#component propA}}
    for {{propB}}  <span>name</span>do {{propC}} f
{{/component}}
{{propA}} {{propB}}
{{propC}}{{propD}}
<span>{{propE}} {{propF}}</span>
<span>{{propG}}{{propH}}</span>



hey

<button>Click here! Click here! Click here! Click here! Click here! Click here!</button>
<button>
Click here! Click here! Click here! Click here! Click here! Click here!
</button>
<div>
<button>Click here! Click here! Click here! Click here! Click here! Click here!</button><button>Click here! Click here! Click here! Click here! Click here! Click here!</button>
</div>
<div>
<button>Click here! Click here! Click here! Click here! Click here! Click here!</button>
<button>Click here! Click here! Click here! Click here! Click here! Click here!</button>
</div>
<video src="brave.webm"></video>

<SomeComponent />
{{name}}



Some sentence with  {{dynamic}}  expressions.

sometimes{{nogaps}}areimportant<Hello></Hello>


{{name}}  is your name


{{#block}}
{{/block}}


{{#block}}
  some {{text}}
{{/block}}

{{#block}}

  some {{text}}
{{/block}}

<HelloWorld>
</HelloWorld>

<HelloWorld>
  some {{text}}
</HelloWorld>

<HelloWorld>

  some {{text}}
</HelloWorld>

<div class="a list of classes">
</div>

<div class="a list of classes">

</div>

<span>This is your name: {{name}}.</span>
<span>This is your name: {{name}} (employee)</span>
<span>This is your name: {{name}} ({{role}})</span>

<span>123</span>
<span>
123</span>
<span>123
</span>
<span>
123
</span>

<div>123</div>
<div>
123</div>
<div>123
</div>
<div>
123
</div>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
</table>

<table><thead><tr><th>A</th><th>B</th><th>C</th></tr></thead></table>

<table> <thead> <tr> <th> A </th> <th> B </th> <th> C </th> </tr> </thead> </table>

<table>
  <thead>
    <tr>
    </tr>
  </thead>
</table>
